doctype html
html
    head
        meta(charset='UTF-8')
        title Title
        link(rel='stylesheet' type='text/css' href='css/style.css')
    h1   Mes articles
    div.article
        div.room
            section

        div

    script(src='/js/getApi.js')