doctype html
head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    script(src='/js/getApi.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    title Blog
div
    form(action='/' method='POST')
        .form-group
            label(for='login') Email address
            input#login.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
        .form-group
            label(for='password') Password
            input#password.form-control(type='password' placeholder='Password')
        .form-group
            label(for='realname') Real name
            input#realname.form-control(type='text' placeholder='Real Name')
        .form-group
            label(for='pseudo') Pseudo
            input#pseudo.form-control(type='text' placeholder='Pseudo')
        .form-group
            label(for='picture') Picture
            input#Picture.form-control(type='text' placeholder='Picture')
        button.btn.btn-primary(type='submit' onclick="postLogin") Submit
